.project_container {
  padding-top: 5%;
  padding-bottom: 5%;

  p {
    color: #ccf381;
    font-family: Coolvetica;
    font-size: 140px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    word-wrap: break-word;

    @media (max-width: 576px) {
      font-size: 100px;
      line-height: 88%;
    }
  }

  .project_list {
    display: flex;
    width: 100%;
  }

  button {
    width: 224px;
    height: 50px;
    background: #fff;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    border-radius: 10px;
    transform: rotate(0deg);

    &:hover {
      background: #ccf381;
      border-radius: 10px;
      transform: rotate(20deg);
    }
  }
}
