.home_container {
  height: 100vh;
  background: url('../../assets/Light\ Noise.png');
  background-size: cover;
  background-color: #141313;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}
