.quote_container {
  width: 100%;
  height: 500px;
  background: #ccf381;
  padding-bottom: 10%;

  .quote_text {
    max-width: 1015px;
    color: #151515;
    font-family: JetBrains Mono;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    margin: 0 auto;
    padding-top: 10%;
    position: relative;

    .apostrophe {
      position: absolute;
      top: 35%;
      left: -8%;
    }
  }

  .quote_person {
    color: #151515;
    font-family: JetBrains Mono;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    right: 15%;
    margin-top: 50px;
  }
}
