.quote_container {
  width: 100%;
  background: #ccf381;
  padding-bottom: 10%;
  height: fit-content;
  padding: 5%;
  min-height: 100vh;

  .quote_text {
    max-width: 1015px;
    margin: 0 auto;
    padding-top: 10%;
    position: relative;
    display: flex;

    p {
      color: #151515;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;

      span {
        font-family: JetBrains Mono;
      }

      @media (max-width: 992px) {
        font-size: 20px;
        flex-direction: column;
        gap: 20px;
      }
    }

    .apostrophe {
      margin-top: -300px;

      @media (max-width: 992px) {
        width: 30px;
        margin-top: 0;
      }
    }
  }

  .quote_person {
    color: #151515;
    font-family: JetBrains Mono;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 17%;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }
}
