@font-face {
  font-family: 'Coolvetica';
  src: local('Coolvetica'),
    url('../../../fonts/coolvetica\ condensed\ rg.ttf') format('truetype');
}

.hero_container {
  margin-top: 4%;
  position: relative;
  margin-left: 10%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-top: 30%;

  @media (min-width: 600px) and (max-width: 768px) {
    padding-top: 10%;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    gap: 20px;
    padding-top: 10%;
  }

  @media (min-width: 1200px) {
    padding-top: 0;
  }

  .hero_container_one {
    display: flex;
    gap: 60px;
    align-items: baseline;
    position: relative;

    @media (max-width: 992px) {
      flex-direction: column;
      gap: 0;
    }

    .text {
      span {
        font-size: 100px;
        color: #ccf381;
        font-family: 'Coolvetica';

        @media (min-width: 600px) and (max-width: 768px) {
          font-size: 150px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          font-size: 200px;
        }

        @media (min-width: 992px) {
          font-size: 250px;
        }

        @media (min-width: 1500px) {
          font-size: 300px;
        }
      }
    }

    .intro {
      color: #ccf381;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      font-family: JetBrains Mono;

      @media (max-width: 576px) {
        margin-top: -10px;
        padding-left: 40%;
        font-size: 16px;
        margin-bottom: 20px;
      }

      @media (min-width: 576px) and (max-width: 768px) {
        margin-top: -10px;
        padding-left: 50%;
        margin-bottom: 20px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        padding-left: 60%;
        margin-top: -20px;
      }
    }

    .icon_filled {
      position: absolute;
      right: 1%;
      top: 10%;
      width: 60px;
      height: 76.274px;

      @media (min-width: 500px) and (max-width: 768px) {
        width: 60px;
        height: 76.274px;
        right: 70px;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        right: 30px;
        width: 110px;
        height: 108px;
        top: 20%;
      }

      @media (min-width: 992px) {
        right: 15%;
        top: 20%;
        width: 110px;
        height: 108px;
      }
    }
  }

  .hero_container_two {
    margin-left: 13%;
    margin-top: -40px;
    position: relative;

    @media (min-width: 500px) and (max-width: 768px) {
      margin-left: 23%;
      margin-top: -40px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      margin-left: 15%;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      margin-left: 20%;
    }

    @media (min-width: 1200px) {
      margin-left: 33%;
      margin-top: -80px;
    }

    p {
      span {
        padding: 0;
        margin: 0;
        font-size: 90px;
        color: #ccf381;
        font-family: Coolvetica;
        color: rgba(0, 0, 0, 0.5);
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
        width: fit-content;
        padding: 0;

        @media (min-width: 600px) and (max-width: 768px) {
          font-size: 150px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          font-size: 200px;
        }

        @media (min-width: 992px) {
          font-size: 250px;
        }

        @media (min-width: 1500px) {
          font-size: 300px;
        }
      }
    }

    .no-transition {
      transition: none !important;
    }

    .icon_outlined {
      position: absolute;
      left: -22%;
      top: 20%;
      width: 60px;
      height: 76.274px;

      @media (min-width: 500px) and (max-width: 768px) {
        left: -110px;
      }

      @media (min-width: 769px) and (max-width: 992px) {
        left: -150px;
        top: 30%;
        width: 110.325px;
        height: 140.248px;
      }

      @media (min-width: 992px) and (max-width: 1200px) {
        left: -25%;
        top: 20%;
        width: 110.325px;
        height: 140.248px;
      }

      @media (min-width: 1200px) {
        left: -60%;
        top: 30%;
        width: 110.325px;
        height: 140.248px;
      }
    }
  }

  .hero_scrolldown {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: #d6d6d6;
    font-family: JetBrains Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
