.hero_container {
  height: 100vh;
  background: url('../../../assets/noiseKL.png');
  background-size: cover;
  background-color: #000000;
  background-repeat: no-repeat;
  mix-blend-mode: overlay;
}
