@font-face {
  font-family: 'Coolvetica';
  src: local('Coolvetica'),
    url('../../../fonts/coolvetica\ condensed\ rg.ttf') format('truetype');
}

.about_container {
  margin-top: 60px;
  position: relative;
  padding-bottom: 40px;

  .about_icon_filled {
    position: absolute;
    left: 5%;
    bottom: 15%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  .about_icon_outlined {
    position: absolute;
    right: 5%;
    top: 5%;

    @media (max-width: 992px) {
      display: none;
    }
  }

  h1 {
    position: relative;
    text-align: center;

    span {
      color: #ccf381;
      font-family: Coolvetica;
      font-size: 140px;
      font-style: normal;
      font-weight: 500;
      cursor: pointer;
      z-index: 1;

      @media (max-width: 992px) {
        font-size: 100px;
      }
    }

    .eclipse_one {
      position: absolute;
      top: -190%;
      right: 23%;
      z-index: -1;
      background-color: #141313;
      // max-width: 500px;
    }
  }

  .about_text_container {
    gap: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;

    p {
      max-width: 987px;
      color: #d6d6d6;
      font-family: JetBrains Mono;
      font-size: clamp(1.5rem, 5vw, 2rem);
      font-style: normal;
      font-weight: 300;
      margin: 0 auto;
    }
  }
}
