.desktop_header_container {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  position: relative;

  .desktop_eclipse {
    position: absolute;
    top: 0;
    right: 15%;
    z-index: -1;
  }

  li {
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    font-family: JetBrains Mono;
    list-style: none;
    z-index: 1;
    cursor: pointer;
  }

  .desktop_header_links {
    ul {
      display: flex;
      gap: 50px;
      list-style: none;
      z-index: 1;

      li {
        color: #fff;
        font-family: JetBrains Mono;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}
